*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../Assets/bg.png");
    color: red;
   text-align: center;
}
.gameName{
	text-align:center;
	font-size:40px;
}
.butn{
	background-color: transparent;
	border: none;
}
.container {
         margin:auto;
        text-align:right; 
}

.dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
}

img {
        width: 100%;
}
.container{
	display: grid;
	justify-content:center;
}
.row1{
	border:solid 1px black;
	display:flex;
	width: fit-content;
    align-items: center;
}
.column{
	border: solid 1px black;
	background-color: rgb(41, 218, 224);
	text-align: center;
	padding: 10px;
	font-size:20px;
	color:black;
	width:65px;
	height:45px;
	font-weight:bold;
}
